* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
}

nav{
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: space-between;
}

nav h1{
  color: lightcoral;
}

.nav-logo{
  max-width: 100px;
}

.hero{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero-photo{
  max-width: 600px;
  align-self: center;
}

.hero-header{
  margin-bottom: 16px;
}

.hero-text{
  margin-top: 0px;
}
.card-container{
  display: flex;
  gap:20px;
  padding: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card{
  position: relative;
  width: 175px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}

.card-price{
  margin-top: auto;
}
.card-image{
  width: 100%;
  height: 250px;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card-stats{
  display: flex;
  align-items: center;
}

.card-star{
  height: 14px;   
}

.gray{
  color: #918E9B;
}
.bold{
  font-weight: bold;
}

.card-badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 10px;
  font-weight: bold;
}

@media only screen and (max-width:600px){
  .hero-photo{
    width: 300px;
    align-self: center;
  }

  nav h1{
    color: lightcoral;
    font-size: 15px;
  }
}